.entry-field{
    font-size:16px;
    text-align: center;
    font-weight:700;
    position: absolute;
    top: 50%;
    right: 40%;
    transform: translate(-50%, -50%);
 }
 body{
     background-color: black;
     color: white;
 }
 entry-field{
     color:gray;
     background-color:black;
     border-width:0px;
     
     
 }